/* Navigation section  */
/* #navbar{

} */
.item2{
    display: flex;
    justify-content: space-between;
    padding: 3px 22px;
    color: white;
    width: 25%;
}
/* Home section  */
#home{
    height: 368px;
    padding: 3px 125px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}
/* services section  */
#services{
    flex-direction: column;
}

/* client section  */
#clients{
    /* overflow: hidden; */
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 56px;
}

/* contact section  */

/* Utility Classes */
.h-primary{
    font-size: 25px;
}